.popup__input_cards {
    margin-bottom: 17px;
    padding-right: 0;
    padding-left: 0;
}

.popup__input_cards:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .popup__input_cards {
        margin-bottom: 27px;
    }
}
