.profile__add-button {
    width: 100%;
    background-color: #000;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    padding: 0;
}

@media screen and (min-width: 1280px) {
    .profile__add-button {
        width: 150px;
        align-self: center;
        justify-self: flex-end;
        margin-top: 0;
    }
}